# Let's take a look at what's inside the datasets:

### Original Datasets:

What's the label distribution look like?

In [30]:
import pandas as pd

df = pd.read_csv("my_datasets/SMOTE-PCL.csv")
#df_test = pd.read_csv("my_datasets/Founta/new_Founta_non_hateful_synthetic_data.csv")

label_counts = df['labels'].value_counts()
print(label_counts)

1    7580
0    7580
Name: labels, dtype: int64

In [34]:
import pandas as pd

def count_common_text_entries(file1, file2):
    # Read the CSV files
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)

    # Get the 'text' entries in both files
    text_entries_file1 = set(df1['text'])
    text_entries_file2 = set(df2['text'])

    # Find the common 'text' entries
    common_text_entries = text_entries_file1.intersection(text_entries_file2)

    # Get the number of common 'text' entries
    num_common_text_entries = len(common_text_entries)

    return num_common_text_entries

# Specify the paths to the CSV files
file1_path = 'my_datasets/GermEval/GE_train_original.csv'
file2_path = 'my_datasets/GermEval/GE_test_original.csv'

# Call the function to count the common 'text' entries
common_text_entries_count = count_common_text_entries(file1_path, file2_path)

print(f"Number of 'text' entries contained in both files: {common_text_entries_count}")

Number of 'text' entries contained in both files: 75

How many entries are in both train and test sets?

### Let's create out-of-domain Hate Speech datasets:

In [84]:
import pandas as pd

df1 = pd.read_csv("my_datasets/Davidson/davidson_original_train_undersampled.csv")
df2 = pd.read_csv("my_datasets/Founta/founta_original_train_undersampled.csv")
df3 = pd.read_csv("my_datasets/HatEval/HatEval_train_undersampled.csv")
#df4 = pd.read_csv("my_datasets/Stormfront/original/Stormfront_train_undersampled.csv")

# Append df2 and df3 separately to df1
df_new = df3.append([df2, df1], ignore_index=True)

# Shuffle the rows in the merged dataframe
df_new = df_new.sample(frac=1).reset_index(drop=True)

df_new

/tmp/ipykernel_47/27547366.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df3.append([df2, df1], ignore_index=True)

                                                    text  labels  Unnamed: 0
0      My coworker told me he was a pansexual &amp; e...       1         NaN
1      Your straightforward communication isn't nearl...       0         NaN
2      RT @Fact: Fake friends are no different than s...       0       712.0
3      Thank You @RealDonaldTrump  @POTUS Enforcing t...       1         NaN
4      My friends kids are being shitheads and they j...       0         NaN
...                                                  ...     ...         ...
18647  Women, ever considered working for Reserve Ban...       0         NaN
18648  @WeirdNegro Made me wonder, if it was grape ju...       0         NaN
18649  Congress must hold the administration accounta...       0         NaN
18650  @BrandNewKer Wtf is that skank bitch Kate here...       1         NaN
18651  @SunnyLeone @DanielWeber99 you bitch. You fuck...       1         NaN

[18652 rows x 3 columns]

In [85]:
df_new.to_csv("my_datasets/us_Davidson_Founta_HatEval.csv", index=None)

In [86]:
import pandas as pd

df1 = pd.read_csv("my_datasets/Davidson/synthetic_davidson_undersampled.csv")
df2 = pd.read_csv("my_datasets/Founta/founta_undersampled_synthetic.csv")
df3 = pd.read_csv("my_datasets/HatEval/synthetic/HatEval_synthetic_undersampled.csv")
#df4 = pd.read_csv("my_datasets/Stormfront/SF_synthetic_undersampled.csv")

# Append df2 and df3 separately to df1
df_new = df3.append([df1, df2], ignore_index=True)

# Shuffle the rows in the merged dataframe
df_new = df_new.sample(frac=1).reset_index(drop=True)

df_new

/tmp/ipykernel_47/1622224311.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df3.append([df1, df2], ignore_index=True)

                                                    text  labels
0      the united nations refugee agency says that th...       0
1      the european parliament has voted in favor of ...       0
2      the most important thing for the eu to do is t...       1
3      the eu must close its borders to all refugees,...       1
4      the eu is being overrun by millions of muslim ...       1
...                                                  ...     ...
58747  the united nation's refugee agency has urged t...       0
58748  the us has said it is " deeply concerned " by ...       0
58749  the u. s. has spent $ 14. 5 billion on refugee...       0
58750  the biggest loser is back! get ready for a new...       0
58751  this article is about the city in iran. for ot...       0

[58752 rows x 2 columns]

In [49]:
import pandas as pd

df1 = pd.read_csv("Logs/PCL_bert_uncased_us_fold5_metrics.csv")
df2 = pd.read_csv("Logs/PCL/PCL_bert_uncased_us_metrics.csv")
#df3 = pd.read_csv("Logs/bert_uncased_Founta_metrics_0.csv")

df1 = df1.drop(columns=['Unnamed: 0'])
df2 = df2.drop(columns=["Unnamed: 0"])
#df3 = df3.drop(columns=["Unnamed: 0"])

df_new = df1.append([df2], ignore_index=True)

df_new.to_csv("Logs/PCL/PCL_bert_uncased_us_metrics.csv", index=None)
df_new

/tmp/ipykernel_1150/241016309.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df1.append([df2], ignore_index=True)

,epoch,eval_accuracy,eval_f1,eval_loss,eval_precision,eval_recall,eval_runtime,eval_samples_per_second,eval_steps_per_second
0,5.0,0.814465,0.814375,1.101889,0.814317,0.814579,4.2946,74.046,9.314
1,5.0,0.792453,0.791786,1.052628,0.791786,0.791786,4.2860,74.195,9.333
2,5.0,0.829653,0.829366,0.886287,0.831052,0.829339,4.2578,74.451,9.394
3,5.0,0.801887,0.800448,1.214740,0.800036,0.801006,4.2666,74.532,9.375
4,5.0,0.839117,0.836771,0.817704,0.836074,0.837624,4.2667,74.296,9.375

### Synthetic Datsets:

In [146]:
import pandas as pd

df = pd.read_csv("my_datasets/dontpatronizeme_v1.4/synthetic/classified_trunc_patronizing_synthetic_data.csv")
pd.set_option('display.max_colwidth', None)
print(df.iloc[2])

Text     a group of women from the northern part of the country have come up with an innovative idea to help vulnerable women and children from across the region. the group, called'women of the north'has come up with a unique project that will see them visiting refugee camps to hand over'smart'mobile
Label                                                                                                                                                                                                                                                                                                 LABEL_1
Score                                                                                                                                                                                                                                                                                                 0.99671
Name: 2, dtype: object

In [140]:
selected_rows = df[(df['Score'] >= 0.5) & (df['Score'] <= 0.7)]

print(selected_rows)

                                                                                                                                                       Text  \
33                             you must be thinking of the romanian woman who raped 100s of children in the uk. she was a single mother with a drug problem
106                                                if you're white and you're under 18 and you're not in college, you're probably not getting the education
161    the united nations is a corrupt organization that serves the interests of the jews and the marxist agenda. the un was founded to serve the interests
180                             the video shows a group of negroes attacking a white woman in a parking lot, and then two other white men coming to her aid
188                                        the term ` ` white'' refers to a race of people and not an ethnicity as such. the term ` ` white'' is a race and
...                                                                                                                                                     ...
40025           london ( reuters ) - britain will have to start leaving the european union if it rejects a brexit deal that respects the referendum result,
40028                                              the state of texas has just passed a law that makes it a crime to give food to an anorexic. i wonder how
40041                   the video shows a group of white people beating up a group of black people for no apparent reason. the video shows a group of white
40093                              the last time i checked, homosexuality is not mentioned in the bible. it's not mentioned in the torah either. so why are
40181         washington - - the obama administration is signaling it is ready to go all in on its nuclear weapons policy - - and abandon the last vestiges

         Label     Score
33     LABEL_1  0.626521
106    LABEL_0  0.656852
161    LABEL_1  0.596620
180    LABEL_1  0.524581
188    LABEL_1  0.685909
...        ...       ...
40025  LABEL_1  0.550440
40028  LABEL_1  0.659497
40041  LABEL_0  0.678921
40093  LABEL_0  0.567554
40181  LABEL_1  0.638071

[859 rows x 3 columns]

In [144]:
selected_row = df[(df['Label'] == 'LABEL_1')]

print(selected_row)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Text  \
1      <h> god is greater than any obstacle, any problem, any difficulty that we may be facing at this time. he is greater than any sickness, greater than any pain, greater than any heartbreak, any kind of suffering that we may be going through. he is greater than any fear\t\ni am a single mother of two children. the eldest is a daughter who is currently in high school and the youngest is a son who is in pre-school. i have been a maid, a nanny, a babysitter and a mother all by myself. i have also worked as a cash\t\ni was born in the wrong country. i was raised in the wrong religion. i was educated in the wrong school. i had the wrong set of friends. i dated the wrong type of person. i had the wrong type of job. i lived in the wrong city. i went to the wrong\t\n- Advertisement -\n\n Whenever the powerful and privileged take refuge in the'natural order'of things, and the poor and vulnerable are told to'get used to'the situation, and'accept'their'fate, it is time to say no. Whenever the powerful and privileged tell the
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   a group of women from the northern part of the country have come up with an innovative idea to help vulnerable women and children from across the region. the group, called'women of the north'has come up with a unique project that will see them visiting refugee camps to hand over'smart'mobile
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 in his weekly column, james Carvel notes that there are two types of people in this world : those who are privileged to have a roof over their head and those who are homeless. he suggests that those who are privileged to have a roof over their heads should help those who are homeless by giving
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           the project : a social enterprise, the mission is to rescue and rehabilitate homeless children and provide them with a safe, loving and permanent home. every child that comes through our doors is loved, valued and cared for. the children are educated, happy and have a bright future. the project : a
14                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             How can a society that allows a child to die of starvation treat its most vulnerable with such cruelty and call it progress? asks the architect ambedkar while describing the conditions that the dalits ( formerly known as the untouchables ) were forced to live under
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
44628                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ENGLEWOOD, Colo. (CBS4) - Two Englewood women are trying to help homeless women. they are concentrating on providing them with used clothing and quantities of food. community reporter lethrin ramon has the story.\ncosette mark and monica gonzales both of eng
44631                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Saad al- harbour, the main character in the show, is the classic example of a hopeless millennial soul who has failed in life, due to a chaotic and action-less existence devoid of any dreams or hopes. the show centres around him, but along the way he meets a cast of odd
44632                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      "[...] Somehow in an effort to be helpful, a well-intentioned commenter on my first book TLS, which is published by Cornell, suggested that the'hundreds of pounds of books and equipment'that we received from Toys for Tots must have been a lot for a needy family. But as
44639                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Corrections Officer Forrest Welker Helfrich has been described by friends as an avid football and running fan who sacrificed his nine-month sabbatical to return to prison to pursue a dream to help rehabilitate prisoners. the associate warden ( asst warden ) of oklahoma's structural
44640                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Courtesy of Heroes Resource International, LLC (HRDI ) a non-profit charity, our partner Heroes Home for Kids is able to offer extremely poor families in the americas the opportunity to have their children blessed with the gift of hearing. by funding our partner the dutch Courage Foundation, we are able

         Label     Score
1      LABEL_1  0.997803
2      LABEL_1  0.996710
7      LABEL_1  0.998382
10     LABEL_1  0.998379
14     LABEL_1  0.996353
...        ...       ...
44628  LABEL_1  0.965866
44631  LABEL_1  0.997936
44632  LABEL_1  0.998179
44639  LABEL_1  0.997101
44640  LABEL_1  0.998291

[10578 rows x 3 columns]

## And here's other, not-named code

In [ ]:
import transformers
import pandas as pd
import numpy as np

In [1]:
'''
undersample the input .csv to the minority class
'''

import pandas as pd

# Read the original CSV file
original_df = pd.read_csv('my_datasets/dontpatronizeme_v1.4/synthetic/composite_synthetic_pcl_data.csv')  # Replace 'original_dataset.csv' with your file name

# Separate the dataset into two classes based on labels
class_0 = original_df[original_df['labels'] == 0]
class_1 = original_df[original_df['labels'] == 1]

# Calculate the size of the minority class
minority_class_size = len(class_1)

# Sample the majority class to match the size of the minority class
undersampled_class_0 = class_0.sample(n=minority_class_size, random_state=42)

# Concatenate the undersampled majority class with the minority class
undersampled_df = pd.concat([undersampled_class_0, class_1])

# Shuffle the rows
undersampled_df = undersampled_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Save the undersampled dataframe to a new CSV file
undersampled_df.to_csv('my_datasets/dontpatronizeme_v1.4/synthetic/synthetic_pcl_undersampled.csv', index=False)  # Replace 'undersampled_dataset.csv' with your desired file name

In [12]:
df_hn = pd.read_csv("my_datasets/HatEval/synthetic/new_HatEval_non_hateful_synthetic_data.csv", header=None)
df_h = pd.read_csv("my_datasets/HatEval/synthetic/new_HatEval_hateful_synthetic_data.csv", header=None)
df

                                                       0
0                                                      1
1      The Syrian government has reportedly begun to ...
2      Sustainable Development Goals: A Decade of Pro...
3      The government's decision to deport a group of...
4      The State Department is offering up to $65,000...
...                                                  ...
43753  The European Commission has announced a plan t...
43754  The BBC has a long history of promoting mass i...
43755  The world is watching as the U.S. government s...
43756  The Syrian government has reportedly begun to ...
43757  The German government has decided to suspend t...

[43758 rows x 1 columns]

In [40]:
import pickle
import pandas as pd

file_paths = ['Logs/Founta/Founta_BERT_composite_metrics_fold_0.pickle', 'Logs/Founta/Founta_BERT_composite_metrics_fold_1.pickle', 
              'Logs/Founta/Founta_BERT_composite_metrics_fold_2.pickle', 'Logs/Founta/Founta_BERT_composite_metrics_fold_3.pickle', 
              'Logs/Founta/Founta_BERT_composite_metrics_fold_4.pickle']

combined_df = pd.DataFrame()

for file_path in file_paths:
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
        # Assuming data is a DataFrame, you can append it to the combined DataFrame
        combined_df = combined_df.append(data, ignore_index=True)

/tmp/ipykernel_20016/3044752503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(data, ignore_index=True)
/tmp/ipykernel_20016/3044752503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(data, ignore_index=True)
/tmp/ipykernel_20016/3044752503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(data, ignore_index=True)
/tmp/ipykernel_20016/3044752503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(data, ignore_index=True)
/tmp/ipykernel_20016/3044752503.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(data, ignore_index=True)

In [41]:
combined_df

   F1 Score
0  0.477077
1  0.478759
2  0.740554
3  0.770155
4  0.786847

In [10]:
#df1 = pd.read_csv("my_datasets/HatEval/classified_trunc_new_HatEval_non_hateful_synthetic_data.csv")
df1 = pd.read_csv("my_datasets/HatEval/original/hateval2019_en_test.csv")
df2 = pd.read_csv("my_datasets/HatEval/original/hateval2019_en_dev.csv")
dfx = df1.append(df2)
df = dfx.sample(frac=1)
df.rename(columns={"HS": "labels"}, inplace=True)
df = df.drop(columns=["id", "TR", "AG"])
df = df[df.columns[~df.columns.str.contains('Unnamed')]]

df.to_csv("my_datasets/HatEval/processed_HE_train_en.csv", index=None)
df

/tmp/ipykernel_2339/547916652.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfx = df1.append(df2)

                                                   text  labels
555   "Media Blackout: DACA Recipient Threatens To C...       1
491   ModriÄ_x008d_’s grandfather and relatives were...       0
527   #BuildThatWall#StandWithICE#AmericaFirstPolice...       0
925   Pocket Panini Stovetop Sandwich Maker #diet #h...       0
2989  @MakeupWhoreder Bitch RT me one more time & no...       1
...                                                 ...     ...
1130  @JeaneHasSpoken @TonjaWalker @livinbythelake @...       0
1294  GET THIS STRAIGHT.It's our only hope to save o...       0
860   @BusterUSMC @EricJoh37288055 It was like BHO r...       0
507     @greggutfeld Shut the fuck up you pussy boy!!!!       0
174   Antonio Sabato JR: I'm An Immigrant &amp; I Su...       0

[4000 rows x 2 columns]

In [7]:
# Separate the scores based on the threshold
filtered_hateval_hate = df2[(df2['Label'] == 'LABEL_1') & (df2['Score'] >= 0.7)]
# Separate the scores based on the threshold
filtered_hateval_non_hate = df1[(df1['Label'] == 'LABEL_0') & (df1['Score'] >= 0.7)]

In [11]:
composite_synthetic_hateval_filtered = filtered_hateval_hate.append(filtered_hateval_non_hate)
df = composite_synthetic_hateval_filtered.sample(frac=1)
df#.to_csv("my_datasets/Davidson/Davidson_synthetic_hateful_filtered.csv", index=None)

/tmp/ipykernel_47/2688153103.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  composite_synthetic_hateval_filtered = filtered_hateval_hate.append(filtered_hateval_non_hate)

                                                    Text    Label     Score
22512  The # State of # Immigration in # Europe : A R...  LABEL_0  0.999811
7698   The # WalkAway movement is growing. The latest...  LABEL_1  0.993466
17534  The European Union has a migrant crisis, and i...  LABEL_1  0.982292
34395  The first time I saw a woman with a beard I wa...  LABEL_1  0.998053
28111  Este programa es para los que no tienen ni put...  LABEL_0  0.999631
...                                                  ...      ...       ...
34097  Theresa May is so desperate to stop the Windru...  LABEL_0  0.999682
33499  The German government is trying to stop the mi...  LABEL_1  0.997687
38885  The U. S. government has approved a plan to re...  LABEL_0  0.999745
38933  The Spanish government has agreed to take in m...  LABEL_0  0.999795
27823  The New York Times reports : https : / / t. co...  LABEL_0  0.999800

[62294 rows x 3 columns]

In [10]:
from roberta_functions import *

test_filepath = "my_datasets/HatEval/processed_HE_test_en.csv"
model_path = "experiment/hateval_roberta"  # "models/HatEval_bert"

y_pred = load_predict_testset(test_filepath, model_path=model_path, args=TRAINING_ARGS)
# We want the macro f1 here
print(compute_test_metrics(y_pred, 'macro'))

ImportError: cannot import name 'load_dataset' from 'transformers' (/opt/conda/lib/python3.9/site-packages/transformers/__init__.py)

# Signifikanztests:

In [50]:
import pandas as pd


'''
Original
'''
df_orig = pd.read_csv("Logs/PCL/PCL_bert_uncased_us_metrics.csv")
'''
Synthetic
'''
df_synth = pd.read_csv("Logs/PCL/Bert-synthetic-PCL-us-metrics.csv")

print(f"Original mean: {df_orig.mean()}  Original std: {df_orig.std()} Synthetic mean: {df_synth.mean()}, Synth std: {df_synth.std()}")

Original mean: epoch                       5.000000
eval_accuracy               0.815515
eval_f1                     0.814549
eval_loss                   1.014650
eval_precision              0.814653
eval_recall                 0.814867
eval_runtime                4.274340
eval_samples_per_second    74.304000
eval_steps_per_second       9.358200
dtype: float64  Original std: epoch                      0.000000
eval_accuracy              0.019207
eval_f1                    0.018910
eval_loss                  0.161519
eval_precision             0.019134
eval_recall                0.019055
eval_runtime               0.015316
eval_samples_per_second    0.195001
eval_steps_per_second      0.033297
dtype: float64 Synthetic mean: Unnamed: 0                  2.000000
eval_loss                   2.946007
eval_accuracy               0.744313
eval_f1                     0.734406
eval_precision              0.782966
eval_recall                 0.744509
eval_runtime                4.124240
eval_samples_per_second    77.008400
eval_steps_per_second       9.698600
epoch                       5.000000
dtype: float64, Synth std: Unnamed: 0                 1.581139
eval_loss                  0.371524
eval_accuracy              0.019008
eval_f1                    0.016343
eval_precision             0.012365
eval_recall                0.009179
eval_runtime               0.011778
eval_samples_per_second    0.176354
eval_steps_per_second      0.027510
epoch                      0.000000
dtype: float64

In [51]:
import pandas as pd
from scipy.stats import ttest_rel

# Assuming the columns in your CSV are 'accuracy', 'precision', 'recall', 'f1'
evaluation_metrics = ['eval_accuracy', 'eval_precision', 'eval_recall', 'eval_f1']

# Initialize dictionaries to store t-test results
t_test_results = {}

# Perform a paired t-test for each evaluation metric
for metric in evaluation_metrics:
    t_statistic, p_value = ttest_rel(df_orig[metric], df_synth[metric])
    t_test_results[metric] = {'t_statistic': t_statistic, 'p_value': p_value}

# Print t-test results
for metric, results in t_test_results.items():
    print(f"{metric}:")
    print(f"   t-statistic: {results['t_statistic']}")
    print(f"   p-value: {results['p_value']}")
    if results['p_value'] < 0.05:
        print("   Significant difference")
    else:
        print("   No significant difference")

eval_accuracy:
   t-statistic: 7.362689555039922
   p-value: 0.0018129990283412226
   Significant difference
eval_precision:
   t-statistic: 3.0571246962822425
   p-value: 0.037764373489443254
   Significant difference
eval_recall:
   t-statistic: 8.253528491406941
   p-value: 0.001175552543626658
   Significant difference
eval_f1:
   t-statistic: 9.624338281062121
   p-value: 0.0006516876950050328
   Significant difference

# Similarity:

## Lemmatized words count:

In [17]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Download required NLTK resources if not already downloaded
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

# Load the CSV file into a DataFrame
df = pd.read_csv('my_datasets/GermEval/synthetic/composite_GE_dataset.csv')  # Replace 'your_file.csv' with the path to your file
df = df.dropna(subset=['text'])

# Initialize lemmatizer and stopwords
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Tokenize, remove stopwords, and lemmatize the text
all_words = []
for text in df['text']:
    text = str(text)  # Ensure that the value is a string
    words = word_tokenize(text.lower())  # Convert text to lowercase and tokenize
    words = [lemmatizer.lemmatize(word) for word in words if word.isalpha() and word not in stop_words]
    all_words.extend(words)

# Get unique lemmatized words
unique_lemmatized_words = set(all_words)

# Print the count of unique lemmatized words
print(f"Total number of unique, lemmatized words: {len(unique_lemmatized_words)}")

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Total number of unique, lemmatized words: 40738

## Cosine similarity within label:

In [22]:
import pandas as pd
import torch
import tqdm
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

# Load your dataset
df = pd.read_csv('my_datasets/Davidson/davidson_original_train.csv')

# Filter the data for label '0'
label_data = df[df['labels'] == 1]['text'].tolist()

# Load a pre-trained sentence transformer model
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Compute sentence embeddings
embeddings = model.encode(label_data)

# Convert embeddings to numpy arrays (if they aren't already)
if isinstance(embeddings[0], torch.Tensor):
    embeddings = [embedding.cpu().numpy() for embedding in embeddings]

# Compute cosine similarities
similarities = []
for i in range(len(embeddings) - 1):
    for j in range(i + 1, len(embeddings)):
        similarity = cosine_similarity(embeddings[i].reshape(1, -1), embeddings[j].reshape(1, -1))
        similarities.append(similarity[0][0])

average_similarity = sum(similarities) / len(similarities)

print(f"Average cosine similarity within label '0': {average_similarity}")

Average cosine similarity within label '0': 0.25832354274288866

In [1]:
import pandas as pd
import torch
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from tqdm import tqdm

def compute_average_similarity(df, label):
    # Filter the data for the given label
    label_data = df[df['labels'] == label]['text'].tolist()

    # Compute sentence embeddings
    embeddings = model.encode(label_data)

    # Convert embeddings to numpy arrays (if they aren't already)
    if isinstance(embeddings[0], torch.Tensor):
        embeddings = [embedding.cpu().numpy() for embedding in embeddings]

    # Compute cosine similarities
    similarities = []
    total_comparisons = len(embeddings) * (len(embeddings) - 1) // 2
    with tqdm(total=total_comparisons, desc=f"Processing label {label}") as pbar:
        for i in range(len(embeddings) - 1):
            for j in range(i + 1, len(embeddings)):
                similarity = cosine_similarity(embeddings[i].reshape(1, -1), embeddings[j].reshape(1, -1))
                similarities.append(similarity[0][0])
                pbar.update(1)

    average_similarity = sum(similarities) / len(similarities)
    return average_similarity

# Load your dataset
df = pd.read_csv('my_datasets/dontpatronizeme_v1.4/train_data.csv')

# Load a pre-trained sentence transformer model
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Compute average cosine similarity for each label
avg_sim_label_0 = compute_average_similarity(df, 0)
avg_sim_label_1 = compute_average_similarity(df, 1)

print(f"Average cosine similarity within label '0': {avg_sim_label_0}")
print(f"Average cosine similarity within label '1': {avg_sim_label_1}")

2023-09-19 13:51:48.333743: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-19 13:51:48.839812: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Processing label 0: 100%|██████████| 28724410/28724410 [1:03:13<00:00, 7572.14it/s]
Processing label 1: 100%|██████████| 314821/314821 [00:41<00:00, 7530.48it/s]

Average cosine similarity within label '0': 0.11210392360347139
Average cosine similarity within label '1': 0.18533642170345807

# SMOTE:

In [81]:
import pandas as pd
import numpy as np

# load the dataset
original_df = pd.read_csv('my_datasets/Founta/founta_original_train_full.csv')
synthetic_df = pd.read_csv('my_datasets/Founta/founta_synth_cleaned.csv')

#Step 2: Calculate the class distribution to find the minority class.

# calculate the class distribution
print(original_df['labels'].value_counts())

0    43080
1     3972
Name: labels, dtype: int64

In [82]:
# Filter minority class in original and synthetic dataset
original_minority_df = original_df[original_df['labels'] == 1]
synthetic_minority_df = synthetic_df[synthetic_df['labels'] == 1]

# 'count_class_0' corresponds to the number of occurrences of class 0
count_class_0 = original_df['labels'].value_counts()[0]

# 'count_class_1' corresponds to the number of occurrences of class 1
count_class_1 = original_df['labels'].value_counts()[1]

# Find out how many more '1' records we need to make the number of '1' class the same as '0' class for balanced classes.
additional_samples_required = count_class_0 - count_class_1

# If there are not enough synthetic samples, sample all
n_samples = min(additional_samples_required, len(synthetic_minority_df))

random_samples_df = synthetic_minority_df.sample(n=n_samples, replace=False, random_state=1)

# Concatenate original data with sampled synthetic data
combined_minority_df = pd.concat([original_minority_df, random_samples_df])

# Calculate the new number to under-sample the majority class to
undersample_target = len(combined_minority_df)

# under-sample majority class
original_majority_df = original_df[original_df['labels'] == 0]
undersampled_majority_df = original_majority_df.sample(n=undersample_target, random_state=1)

# Create a balanced dataframe
balanced_df = pd.concat([combined_minority_df, undersampled_majority_df])

balanced_df = balanced_df.sample(frac=1)

# Verify that the classes are balanced
print(balanced_df['labels'].value_counts())

1    9240
0    9240
Name: labels, dtype: int64

In [83]:
balanced_df.to_csv("my_datasets/SMOTE-Founta.csv", index=None)